<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <tokenbase>
                <clean_old_cards>1</clean_old_cards>
                <failure_limit>5</failure_limit>
                <failure_window>86400</failure_window>
                <paymentinfo_require_order>1</paymentinfo_require_order>
                <enable_public_api>0</enable_public_api>
            </tokenbase>
        </checkout>
    </default>
</config>
