<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\Checks\ZeroTotal">
        <plugin name="allowTokenbaseZeroTotal" type="ParadoxLabs\TokenBase\Plugin\ZeroTotal" sortOrder="100" disabled="false" />
    </type>

    <type name="ParadoxLabs\TokenBase\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="ParadoxLabs\TokenBase\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">tokenbaseLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">ParadoxLabs\TokenBase\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
