<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Payment\Model\Checks\ZeroTotal">
        <plugin name="allowTokenbaseZeroTotal" type="ParadoxLabs\TokenBase\Plugin\ZeroTotal" sortOrder="100" disabled="false" />
    </type>

    <!-- Logging -->
    <type name="ParadoxLabs\TokenBase\Helper\Operation">
        <arguments>
            <argument name="tokenbaseLogger" xsi:type="object">ParadoxLabs\TokenBase\Model\Logger\LoggerVirtualType</argument>
        </arguments>
    </type>

    <type name="ParadoxLabs\TokenBase\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="lineFormatter" xsi:type="object">ParadoxLabs\TokenBase\Model\Logger\LineFormatter</argument>
        </arguments>
    </type>

    <virtualType name="ParadoxLabs\TokenBase\Model\Logger\LoggerVirtualType" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">tokenbaseLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="standard" xsi:type="object">ParadoxLabs\TokenBase\Model\Logger\Handler</item>
                <item name="debug" xsi:type="object">ParadoxLabs\TokenBase\Model\Logger\Debug</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="ParadoxLabs\TokenBase\Model\Logger\LineFormatter" type="Monolog\Formatter\LineFormatter">
        <arguments>
            <argument name="allowInlineLineBreaks" xsi:type="boolean">true</argument>
            <argument name="ignoreEmptyContextAndExtra" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <!-- Payment interfaces -->
    <preference for="ParadoxLabs\TokenBase\Api\MethodInterface" type="ParadoxLabs\TokenBase\Model\AbstractMethod" />
    <preference for="ParadoxLabs\TokenBase\Api\GatewayInterface" type="ParadoxLabs\TokenBase\Model\AbstractGateway" />

    <!-- Adding tokenbase card repository -->
    <preference for="ParadoxLabs\TokenBase\Api\Data\CardSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="ParadoxLabs\TokenBase\Api\Data\CardInterface" type="ParadoxLabs\TokenBase\Model\Card" />
    <preference for="ParadoxLabs\TokenBase\Api\Data\CardAdditionalInterface" type="ParadoxLabs\TokenBase\Model\CardAdditional" />
    <preference for="ParadoxLabs\TokenBase\Api\CardRepositoryInterface" type="ParadoxLabs\TokenBase\Model\ResourceModel\CardRepository" />
    <preference for="ParadoxLabs\TokenBase\Api\CustomerCardRepositoryInterface" type="ParadoxLabs\TokenBase\Model\Api\CustomerCardRepository" />
    <preference for="ParadoxLabs\TokenBase\Api\GuestCardRepositoryInterface" type="ParadoxLabs\TokenBase\Model\Api\GuestCardRepository" />

    <!-- Adding tokenbase_id field to quote API calls -->
    <type name="Magento\Quote\Model\Quote">
        <plugin name="quotePaymentLoadTokenbaseId" type="ParadoxLabs\TokenBase\Plugin\QuotePaymentLoadTokenbaseId" />
    </type>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="quotePaymentSaveTokenbaseId" type="ParadoxLabs\TokenBase\Plugin\QuotePaymentSaveTokenbaseId" />
    </type>

    <!-- Adding tokenbase_id field to order API calls -->
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="orderPaymentLoadTokenbaseId" type="ParadoxLabs\TokenBase\Plugin\OrderPaymentLoadTokenbaseId" />
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="orderPaymentSaveTokenbaseId" type="ParadoxLabs\TokenBase\Plugin\OrderPaymentSaveTokenbaseId" />
    </type>

    <!-- Adding cards to Vault token lists -->
    <type name="Magento\Vault\Model\PaymentTokenManagement">
        <plugin name="tokenbaseAddCards" type="ParadoxLabs\TokenBase\Plugin\Vault\Api\PaymentTokenManagement" />
    </type>
    <type name="Magento\InstantPurchase\Model\PaymentMethodChoose\PaymentTokenChooserInterface">
        <plugin name="tokenbaseActivatePaymentToken" type="ParadoxLabs\TokenBase\Plugin\InstantPurchase\Model\PaymentMethodChoose\PaymentTokenChooser" />
    </type>
    <type name="Magento\InstantPurchase\PaymentMethodIntegration\IntegrationsManager">
        <plugin name="tokenbaseAddMethods" type="ParadoxLabs\TokenBase\Plugin\InstantPurchase\PaymentMethodIntegration\IntegrationsManager" />
    </type>

    <!-- Add CC data to GraphQL quote payment response -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\SelectedPaymentMethod">
        <plugin name="tokenbaseAddCcData" type="ParadoxLabs\TokenBase\Plugin\QuoteGraphQl\Model\Resolver\SelectedPaymentMethod" />
    </type>

    <!-- Associate cards on post-checkout register -->
    <type name="Magento\Sales\Api\OrderCustomerManagementInterface">
        <plugin name="tokenbaseAssociateCustomerCard" type="ParadoxLabs\TokenBase\Plugin\Sales\Model\Order\CustomerManagement\Plugin" />
    </type>

    <!-- Fix a core bug -->
    <type name="Magento\Sales\Model\Order\Payment\Transaction\Repository">
        <plugin name="tokenbaseForceTransactionOrder"
                type="ParadoxLabs\TokenBase\Plugin\Sales\Model\Order\Payment\Transaction\Repository\Plugin" />
    </type>

    <!-- Payment validation (because core borked it 2.3.5-2.4.2+) -->
    <type name="ParadoxLabs\TokenBase\Api\Data\CardInterface">
        <plugin name="tokenbase_validate_payment" type="ParadoxLabs\TokenBase\Plugin\ValidateCardSave" />
    </type>
    <type name="ParadoxLabs\TokenBase\Plugin\ValidateCardSave">
        <arguments>
            <argument name="validatorPool" xsi:type="object">ParadoxLabs\TokenBase\Gateway\VirtualValidatorPool</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Observer\ValidatePaymentObserver">
        <arguments>
            <argument name="validatorPool" xsi:type="object">ParadoxLabs\TokenBase\Gateway\VirtualValidatorPool</argument>
        </arguments>
    </type>
    <virtualType name="ParadoxLabs\TokenBase\Gateway\VirtualValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <!-- Each payment method should add its validation to this array -->
            <argument name="validators" xsi:type="array" />
        </arguments>
    </virtualType>

    <!-- Order save forcing / silent exceptions -->
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="tokenbaseSilenceCheckoutPostProcessExceptions" type="ParadoxLabs\TokenBase\Plugin\Checkout\Model\PaymentInformationManagement\Plugin" />
    </type>
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="tokenbaseSilenceGuestCheckoutPostProcessExceptions" type="ParadoxLabs\TokenBase\Plugin\Checkout\Model\GuestPaymentInformationManagement\Plugin" />
    </type>

    <!-- Proxies for dependency resolution and efficiency -->
    <type name="ParadoxLabs\TokenBase\Block\Form\Cc">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Helper\Data">
        <arguments>
            <argument name="backendSession" xsi:type="object">Magento\Backend\Model\Session\Quote\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="currentCustomerSession" xsi:type="object">Magento\Customer\Helper\Session\CurrentCustomer\Proxy</argument>
            <argument name="addressHelper" xsi:type="object">ParadoxLabs\TokenBase\Helper\Address\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Model\AbstractMethod">
        <arguments>
            <argument name="addressHelper" xsi:type="object">ParadoxLabs\TokenBase\Helper\Address\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Model\Card\Context">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Observer\CheckoutCheckFailuresObserver">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Observer\CheckoutFailureRecordIncidentObserver">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Observer\PaymentInfoAuthenticateObserver">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Observer\SaveOrderAfterPaymentObserver">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Plugin\Checkout\Model\PaymentInformationManagement\Plugin">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Plugin\Checkout\Model\GuestPaymentInformationManagement\Plugin">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
