<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Mock object to replace prior plugin without having an empty/invalid di.xml file -->
    <virtualType name="ParadoxLabs\TokenBase\Plugin\ConvertGuestToCustomer" type="Magento\Framework\DataObject" />

    <!-- Proxies for dependency resolution and efficiency -->
    <type name="ParadoxLabs\TokenBase\Block\Customer\Form">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="currentCustomer" xsi:type="object">Magento\Customer\Helper\Session\CurrentCustomer\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Controller\Paymentinfo">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Controller\Paymentinfo\Delete">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Controller\Paymentinfo\Index">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="ParadoxLabs\TokenBase\Controller\Paymentinfo\Save">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
