<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="tokenbase" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ParadoxLabs Payment Module Settings</label>
                <field id="clean_old_cards" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Erase archived cards after 120 days</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[All cards (including for guests and 'do not save') are always stored internally. If yes, those records will be permanently removed 120 days after their last use (the maximum refund period). We strongly recommend this.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
